.listings {
    margin: auto;
    text-align: center;
}

.no-cars {
    margin: auto;
    font-size: 30px;
    text-align: center;
}

.car-listings h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
}